body{
  font-family: 'Open Sans Condensed', sans-serif;
  padding: 20px 60px;
}

a{
  text-decoration: none;
  color: black;
}


/* Universal selector to stop margin and padding from affecting element size */
*{
  box-sizing: border-box;
}